@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212529;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #f3aa4e;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoWrapper h1{
  color: #212529;
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: 700;
}
.TodoForm {
  width: 100%;
}

.todo-input {
  
  outline: none;
  background: none;
  border: 1px solid #212529;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #212529;
}
.edit-todo-input {
  outline: none;
  background: none;
  border: 1px solid #212529;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #212529;
}
.todo-input::placeholder {
  color: black;
}

.todo-btn {
  background: #212529;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  
}
.edit-todo-btn {
  background: #212529;
  color: white;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}
.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #212529;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}
.Todo button{
  cursor: pointer;
  margin: 2px;
  padding: 2px;
  background-color: #212529;
  border: transparent;
  border-color: #f3aa4e;
  color: white;
}
.Todo button:hover{
  color: #f3aa4e;
}
.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #8758ff;
  text-decoration: line-through;
}
 